.about {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

}

.about .left-about  {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.about .right-about {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.question-logo {
    width: 50px;
    margin-right: 1rem;
}

.about p {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: dimgray;
    text-align: justify;
}

.about h1 {
    color: dimgray;
    font-weight: bolder;
}


@media screen and (max-width: 850px) {
    .right-about, .left-about {
        width: 500px !important;
        transition: 0.2s;
    }

}