#about-video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    bottom: 160px;
    filter: brightness(0.9) blur(4px) grayscale(30%);
}

.about-container {
    height: 60vh;
    width: 100%;
    position: relative;
    object-fit: contain;
}
.about-container .about-content {
    background: rgba(255, 255, 255, .2);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 2rem;
    /*margin-right: 20rem;*/
}

.about-logo {
    float: left;
}

.about-msg {
    text-align: left;
    width: 100%;
    height: 100%;
    float: right;
}

.about-msg h1 {
    transition: .2s;
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
}

.about-img {
    max-width: 7rem;
    margin-right: 2rem;
    /*float: left;*/
    transition: .2s;
}

@media screen and (max-width: 1240px) {
    .about-content h1 {
        transition: .2s;
        font-size: 2.5rem;
    }

    .about-img {
        transition: .2s;
        max-width: 5rem;
    }

}

