.outer-dv {
    background: #fff;
}

.budget-cont {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*250px*/
}

.general {
    max-width: 900px;
    /*background-color: #fff;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;

}

.this-month-title {
    /*margin: 10px 0;*/
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    color: #000;
}

.this-month {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    /*margin-top: 1.5rem;*/

}


.general-row {
    max-width: 100%;
}

.alert {
    /*background-color: #f0f0f0;*/
    width: 95%;
    padding: 1rem;
}

.alert h3 {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    width: 95%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 2rem;

}

.alert-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.budget-img {
    width: 150px;
}

.alert span {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1.5rem;
}

/*.alert:hover {*/
/*    background-color: rgba(255, 255, 255, .2);*/
/*}*/

.mt-3 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.row-mt3 {
    padding: 1rem;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}


.save-btn {
    font-family: 'Manrope', 'Nirmala UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 10px 27px;
    font-size: 1rem;
    font-weight: bolder;
    background: #6069FA;
    color: #fff;
    border: 1px;
    cursor: pointer;
    border-radius: 10px;
}


.save-btn:hover {
    transition: .2s;
    background: rgba(95, 105, 250, .5);
}

.delete-icon {
    cursor: pointer;
}




.exp-list {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.list-group {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    padding: 10px 8px;
    width: 95%;
}

.list-cont {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    white-space: break-spaces;
    width: 25%;
}

.list-cont span {
    font-weight: bolder;
}

.exp-name {
    width: 25%;
    text-align: left;
}

.row label {
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    justify-content: left;
}

.row .lab {
    text-align: left;
}

.form-control {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-family: 'Raleway', 'Nirmala UI', serif;
    background-color: #f0f0f0;
    border: 2px solid #6069FA;
    outline: none;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control:focus{
    outline: none;
}

.add-exp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Manrope', 'Nirmala UI', serif;
    border: none;
    outline: none;
    color: #000;
}

.row {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.chart-cont {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.third {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.general-add1 {
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-right: 0.5rem;
}

.general-add2 {
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 0.5rem;
}

.this-month-add {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
}


@media screen and (max-width: 945px) {
    .this-month{
        flex-direction: column;
    }

    .alert {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .general {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .third {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .general-add1, .general-add2 {
        width: 100%;
    }
}

