.faqs {
    width: 100%;
    padding: 6rem 0;
    background: #fff;
}

.wrapper {
    border: 1px solid #f0f0f0;
    max-width: 670px;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    padding: 30px 80px 80px;
    border-radius: 20px;

}

.header-faq {
    text-align: center;
}

.header-faq p {
    font-size: 1.6rem;
    color: #6069FA;
}

.header-faq h1 {
    color: dimgray;
}

.item {
    background: rgba(255, 255, 255, .8);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}

.item:hover {
    background: rgba(255, 255, 255, .5);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title h2 {
    font-weight: lighter;
    font-size: 1.2rem;
    color: dimgray;
}

.title span {
    font-size: 1rem;
    color: #6069FA;
}

.contnt {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0,1,0,1);
    color: dimgray;
}

.contnt.show {
    font-size: 1rem;
    text-align: justify;
    margin-top: 15px;
    height: auto;
    max-height: 9999px;
    transition: all 0.4s cubic-bezier(1,0,1,0);
    color: dimgray;
}

ol {
    white-space: pre-wrap;
    list-style-type: none;
    padding: 15px;
    color: dimgray;
}

.lnk {
    text-decoration: underline;
    font-weight: bold;
    color: #6069FA;
}

.plus {
    font-size: 1rem;
}

.faqs-btn {
    font-family: 'Manrope', 'Nirmala UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: bolder;
    background: #6069FA;
    color: #fff;
    border: 1px;
    border-radius: 7px;
    transition: .2s;
    text-align: center;
}

.faqs-plus {
    background-color: #6069FA;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 60%;
    padding: 1px 7px 1px 7px;
}

