#home-image {
    width: 100% !important;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(85%);
}

.container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.container .content {
    background: rgba(255, 255, 255, .6);
    text-align: center;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-right: 20rem;
}

.welcome-logo {
    float: left;
}

.welcome-msg {
    text-align: left;
    width: 80%;
    height: 100%;
    float: right;
}

.welcome-msg h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
}

.container p {
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
}

.home-img {
    max-width: 7rem;
    margin-right: 2rem;
    /*float: left;*/
}

/*@media screen and (max-width: 640px) {*/
/*    .content h1 {*/
/*        font-size: 3rem;*/
/*    }*/

/*    .content p {*/
/*        font-size: 1.4rem;*/
/*        margin-bottom: 1.6rem;*/
/*    }*/
/*}*/