#life-image {
    /*top: 50px;*/
    bottom: 140px;
    width: 100% !important;
    height: 95%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(0.9) blur(4px) grayscale(20%);
}

.life-container {
    height: 60vh;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.life-container .life-content {
    background: rgba(255, 255, 255, .2);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.life-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 2rem;
    /*margin-right: 20rem;*/
}

.life-logo {
    float: left;
}

.life-msg {
    text-align: left;
    width: 100%;
    height: 100%;
    float: right;
}

.life-msg h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
}

.life-img {
    max-width: 7rem;
    margin-right: 2rem;
    /*float: left;*/
}


@media screen and (max-width: 1240px) {
    .life-content h1 {
        transition: .2s;
        font-size: 2.5rem;
    }

    .life-img {
        transition: .2s;
        max-width: 5rem;
    }

}


/*LOGIN ALERT STYLING*/
.reset-title, .remove-title {
    font-size: 1.1rem;
    font-weight: lighter;
    color: dimgray;
}

.reset-input {
    padding: 0 1rem;
    font-size: 1.1rem;
    outline: none;
    color: #000;
    max-width: 330px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Manrope', 'Nirmala UI', serif;
    background-color: #f0f0f0;
    border: 2px solid #6069FA;
    border-radius: 10px;
}

.reset-container,
.remove-container {
    background: #fff;
    border-radius: 15px;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-container .reset-confirm,
.remove-container .remove-confirm{
    background-color: #6069FA;
    border-radius: 10px;
    width: 90px;
}

.reset-container .reset-confirm:hover,
.remove-container .remove-confirm:hover {
    transition: 0.3s;
    background: rgba(95, 105, 250, .5);
}

.reset-container .reset-cancel, .remove-container .remove-cancel{
    background-color: #6069FA;
    border-radius: 10px;
    width: 90px;
}

.reset-container .reset-cancel:hover,
.remove-container .remove-cancel:hover {
    transition: 0.3s;
    background: rgba(95, 105, 250, .5);
}




.reset-container-ok {
    background: #fff;
    border-radius: 15px;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-title-ok {
    font-size: 1.1rem;
    font-weight: lighter;
}

.reset-container-ok .reset-ok {
    background-color: #6069FA;
    border-radius: 10px;
    width: 90px;
}

.reset-container-ok .reset-ok:hover {
    transition: 0.3s;
    background: rgba(95, 105, 250, .5);
}



