#notes-image {
    width: 100% !important;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(0.8) blur(4px) grayscale(10%);
    /*bottom: 220px;*/
    top: 30px;
}

.notes-container {
    height: 60vh;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.notes-container .notes-content {
    background: rgba(255, 255, 255, .2);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.notes-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 2rem;
    /*margin-right: 20rem;*/
}

.notes-logo {
    float: left;
}

.notes-msg {
    text-align: left;
    width: 100%;
    height: 100%;
    float: right;
}

.notes-msg h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
}

.notes-img {
    max-width: 7rem;
    margin-right: 2rem;
    /*float: left;*/
}

@media screen and (max-width: 1240px) {
    .notes-content h1 {
        transition: .2s;
        font-size: 2.5rem;
    }

    .notes-img {
        transition: .2s;
        max-width: 5rem;
    }

}

