.quotes {
    width: 100%;
    padding: 10rem 0;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}


.lg {
    transition: .2s;
    width: 90px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.text {
    width: 40%;
}


.quotes .quote-text {
    transition: .2s;
    width: 100%;
    font-style: italic;
    text-align: left;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: dimgray;
}

.quotes .quote-who {
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 800;
    color: dimgray;
}

@media screen and (max-width: 1240px) {
    /*.quotes-container {*/
    /*    grid-template-columns: 1fr;*/
    /*}*/

    .lg {
        transition: .2s;
        max-width: 5rem;
    }

    .quotes .quote-text {
        transition: .2s;
        font-size: 2.5rem;
    }

}