#video {
    top: 50px;
    position: fixed;
    width: 100%;
    height: 95%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9) blur(4px) grayscale(30%);
}

.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}
